<!DOCTYPE html>
<html>
  <head>
    <title>Mister 118</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= cookies[:theme] %>">
    <div class="container">
      <nav class="navbar navbar-expand-lg bg-<%= cookies[:theme] %>">
        <div class="container-fluid">
          <a class="navbar-brand <%= cookies[:theme] %>" href="<%= posts_path %>">AdminPanel</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <%= link_to "Рус", { locale: :ru }, 
                class: "btn btn-outline-secondary btn-sm mx-1 #{'active' if I18n.locale == :ru}" %>
              </li>
              
              <li class="nav-item">
                <%= link_to "En", { locale: :en }, 
                class: "btn btn-outline-secondary btn-sm mx-1 #{'active' if I18n.locale == :en}" %>
              </li>
            </ul>
          
            <ul class="navbar-nav pull-xs-right">
              <div class='inline'>
                <li class="nav-item">
                  <%= link_to t('.light'), set_theme_path(theme: 'light'), class: "nav-link #{ cookies[:theme]}" %>
                </li>

                <li class="nav-item">
                  <%= link_to t('.dark'), set_theme_path(theme: 'dark'), class: "nav-link #{ cookies[:theme]}" %>
                </li>
              </div>

              <% if current_user.moderatior? %>
                <li class="nav-item">
                  <%= link_to t('.Moderator_panel'), admin_users_path, class: "btn btn-info mx-2" %>
                </li>
              <% end %>

              <% if user_signed_in? || current_user.admin? %>
                <li class="nav-item">
                  <%= link_to t('.Categories'), admin_categories_path, class: "btn btn-info" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div class="container main">
      <div class="row">
        <div class="col-md-12">
          <% flash.each do |name, message| %>
            <div class="alert <%= bootstrap_class_for(name) %>">
              <%= message %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9 container-border <%= cookies[:theme] %>">
          <%= yield %>
        </div>

        <div class="col-md-3">
          <%= render 'shared/submenu' %>
          <div class="tag_cloud container-border <%= cookies[:theme] %>">
            <h3><%= t('.tags') %></h3>
            <% tag_cloud(Tag.counts, %w{tag1 tag2 tag3 tag4 tag5}) do |tag, css_class| %>
              <%= link_to tag.name, tag_path(tag.name), class: css_class  %>
            <% end %> 
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
